<div>
  <h1 mat-dialog-title>Añadir fruta</h1>
  <div mat-dialog-content>
    <div class="contenedor">


      <mat-form-field>
        <input
          matInput
          [(ngModel)]="fruta.id"
          type="text"
          placeholder="inserta  matricula"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="fruta.nombre"
          type="text"
          placeholder="inserta color"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="fruta.precio"
          type="text"
          placeholder="inserta marca"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="fruta.cantidad"
          type="text"
          placeholder="inserta Km"
        />
      </mat-form-field>

    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="Cancelar()">Cancelar</button>
    <button mat-button [mat-dialog-close]="fruta" cdkFocusInitial>
      Confirmar
    </button>
  </div>
</div>


