<div class="container">
  <div class="row">
    <div class="col-lg-12"><div class="container">
      <label for="idEuros" >Teclea Euros</label><br>
      <input type="numbre" [(ngModel)]="euros" value="{{euros}}"><br>
      <label for="idDolares" >Teclea Dólares</label><br>
      <input type="numbre" [(ngModel)]="dolares" value="{{euros*valorDol}}"><br>
      <label for="idYenes">Teclea Yenes</label><br>
      <input type="numbre" [(ngModel)]="Yenes" value="{{euros*164}}">

    </div></div>
  </div>
</div>
