<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="¿Que NUMERO BUSCAS?" #input />
</mat-form-field>
<button (click)="abrirDialogo()" class="crear">Añadir Número</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="indice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>INDICE</th>
      <td mat-cell *matCellDef="let row">{{ row.indice }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="n1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N1</th>
      <td mat-cell *matCellDef="let row">{{ row.n1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="n2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N2</th>
      <td mat-cell *matCellDef="let row">{{ row.n2 }}</td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="n3">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N3</th>
      <td mat-cell *matCellDef="let row">{{ row.n3 }}</td>
    </ng-container>
     <!-- Fruit Column -->
     <ng-container matColumnDef="n4">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N4</th>
      <td mat-cell *matCellDef="let row">{{ row.n4 }}</td>
    </ng-container>
     <!-- Fruit Column -->
     <ng-container matColumnDef="n5">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N5</th>
      <td mat-cell *matCellDef="let row">{{ row.n5 }}</td>
    </ng-container>
     <!-- Fruit Column -->
     <ng-container matColumnDef="n6">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N6</th>
      <td mat-cell *matCellDef="let row">{{ row.n6 }}</td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="eliminarElemento(row.id)" class="eliminar">Eliminar</button>
      </td>
    </ng-container>
    <!-- Fruit Column -->
    <ng-container matColumnDef="modificar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificar</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="modificarLista(row)" class="modificar">Modificar</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>


