<div class="container">
  <h1>Ejemplo de ngClass con select</h1><br>


  <label for="">Color de Letra</label><br>
  <select [(ngModel)]="textoBack">
    <option value="" disabled selected>Seleccionar Color</option>
    <option value="red">Rojo</option>
    <option value="blue">Azul</option>
    <option value="green">Verde</option>
    <option value="yellow">Amarillo</option>
  </select>
  <br><br>


  <label for="">Tamaño de letra</label><br>
  <select [(ngModel)]="letraSize">
    <option value="" disabled selected>Selecciona Tamaño de letra</option>
    <option value="12px">12px</option>
    <option value="16px">16px</option>
    <option value="20px">20px</option>
    <option value="24px">24px</option>
  </select>
  <br><br>

  <label for="">Color de Fondo</label><br>
  <select [(ngModel)]="fondoColor">
    <option value="" disabled selected>Seleccionar Color</option>
    <option value="red">Rojo</option>
    <option value="blue">Azul</option>
    <option value="green">Verde</option>
    <option value="yellow">Amarillo</option>
  </select>

  <br><br>


  <div class="textos" [ngStyle]="{ 'color': textoBack, 'font-size': letraSize, 'background-color': fondoColor }">
    DESARROLLO DE APLICACIONES WEB
  </div>
  <div class="textos" [ngStyle]="{ 'color': textoBack, 'font-size': letraSize, 'background-color': fondoColor }">
    DESARROLLO DE APLICACIONES MULTIPLATAFORMA
  </div>
  <div class="textos" [ngStyle]="{ 'color': textoBack, 'font-size': letraSize, 'background-color': fondoColor }">
    ADMINISTRACIÓN DE SISTEMAS INFORMÁTICOS Y REDES
  </div>

</div>
